# Copy to router.yaml and encrypt with sops once age keys exist.
# sops --encrypt --in-place secrets/router.yaml
wireguard:
  serverPrivateKey: REPLACE
dnsupdater:
  domeneshopToken: REPLACE
  domeneshopSecret: REPLACE
